### Question 1

In [13]:
import pandas as pd
Laliga = pd.read_csv('Laliga.csv')
Laliga=Laliga.rename(columns=Laliga.iloc[0]).drop(Laliga.index[0])
Laliga.replace('-', 0, inplace=True)
Laliga.head(10)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1

### Question 2

In [14]:
Laliga["Debut"]= Laliga["Debut"].str.split("-", n = 1, expand = True)
Laliga.Debut.dtypes
Laliga["Debut"]=Laliga["Debut"].apply(pd.to_numeric)
print('The teams which have started playing between 1930-1980')
Laliga.loc[(Laliga['Debut'] >= 1930) & (Laliga['Debut'] <= 1980),['Team','Debut']].sort_values('Debut',ascending = True)

The teams which have started playing between 1930-1980

                   Team  Debut
29               Alaves   1930
4              Valencia   1931
10           Real Betis   1932
18               Oviedo   1933
6               Sevilla   1934
26             Hercules   1935
16              Osasuna   1935
9              Zaragoza   1939
12           Celta Vigo   1939
28               Murcia   1940
22              Granada   1941
11  Deportivo La Coruna   1941
35            Castellon   1941
32             Sabadell   1943
15       Sporting Gijon   1944
50             Alcoyano   1945
47            Gimnastic   1947
13           Valladolid   1948
17               Malaga   1949
55               Lleida   1950
20           Las Palmas   1951
59      Atletico Tetuan   1951
51                 Jaen   1953
60     Cultural Leonesa   1955
58               Condal   1956
24                Elche   1959
19             Mallorca   1960
27             Tenerife   1961
38              Cordoba   1962
30              Levante   1963
42           Pontevedra   1963
41            Burgos CF   1971
31            Salamanca   1974
23       Rayo Vallecano   1977
33                Cadiz   1977
40           Recreativo   1978
53           AD Almeria   1979

### Question 3

In [15]:
a=Laliga.columns
Laliga.dtypes
Laliga[a[0]]=Laliga[a[0]].apply(pd.to_numeric)
Laliga[a[2:17]]=Laliga[a[2:17]].apply(pd.to_numeric)
Laliga[a[19]]=Laliga[a[19]].apply(pd.to_numeric)
Top_5=Laliga.sort_values('Points', axis=0,ascending=False)
print('Top 5 teams in terms of points')
Top_5[['Team','Points']].head(5)

Top 5 teams in terms of points

              Team  Points
1      Real Madrid    4385
2        Barcelona    4262
3  Atletico Madrid    3442
4         Valencia    3386
5  Athletic Bilbao    3368

### Question 4

In [16]:
def Goal_diff_count(var1,var2):        
    GDC=var1-var2
    return(GDC)

b=Goal_diff_count(Laliga['GoalsFor'],Laliga['GoalsAgainst'])
dd=pd.DataFrame(b)

dd.columns=['Goal_differences']
result = pd.concat([Laliga['Team'],dd], axis=1)
print('The teams with their Goal Differences')
print(result)

Max_goal_diff=result.sort_values('Goal_differences', axis=0,ascending=False)
print('Team with max goal diff is:',Max_goal_diff.iloc[0,0] ,'and Goal difference:',Max_goal_diff.iloc[0,1] )
Min_goal_diff=result.sort_values('Goal_differences', axis=0,ascending=True)
print('Team with min goal diff is:',Min_goal_diff.iloc[0,0] ,'and Goal difference:',Min_goal_diff.iloc[0,1] )

The teams with their Goal Differences
                   Team  Goal_differences
1           Real Madrid              2807
2             Barcelona              2786
3       Atletico Madrid              1225
4              Valencia               929
5       Athletic Bilbao               931
6               Sevilla               307
7              Espanyol              -280
8         Real Sociedad                -2
9              Zaragoza              -164
10           Real Betis              -333
11  Deportivo La Coruna              -136
12           Celta Vigo              -346
13           Valladolid              -413
14     Racing Santander              -525
15       Sporting Gijon              -399
16              Osasuna              -334
17               Malaga              -342
18               Oviedo              -309
19             Mallorca              -189
20           Las Palmas              -399
21           Villarreal               103
22              Granada              -338
23       Rayo Vallecano              -328
24                Elche              -272
25               Getafe              -113
26             Hercules              -334
27             Tenerife              -125
28               Murcia              -385
29               Alaves              -165
30              Levante              -202
..                  ...               ...
32             Sabadell              -228
33                Cadiz              -269
34             Logrones              -198
35            Castellon              -169
36             Albacete               -90
37              Almeria              -122
38              Cordoba              -145
39           Compostela               -42
40           Recreativo               -94
41            Burgos CF               -94
42           Pontevedra               -56
43             Numancia               -98
44                Eibar               -28
45               Arenas               -81
46          Real Burgos               -38
47            Gimnastic              -114
48          Extremadura               -55
49               Merida               -45
50             Alcoyano              -107
51                 Jaen               -62
52           Real Union               -31
53           AD Almeria               -45
54               Europa               -34
55               Lleida              -112
56              Leganes               -19
57                Xerez               -28
58               Condal               -20
59      Atletico Tetuan               -34
60     Cultural Leonesa               -31
61               Girona                 0

[61 rows x 2 columns]
Team with max goal diff is: Real Madrid and Goal difference: 2807
Team with min goal diff is: Racing Santander and Goal difference: -525

### Question 5

In [17]:
Laliga['Winning Percent']=(Laliga['GamesWon']/Laliga['GamesPlayed'])*100
Laliga.replace('NaN', 0, inplace=True)
Top_5_Winning_Percent=Laliga.sort_values('Winning Percent', axis=0,ascending=False)
print('Top 5 Team with maximum winning percent')
Top_5_Winning_Percent[['Team','Winning Percent']].head(5)

Top 5 Team with maximum winning percent

              Team  Winning Percent
1      Real Madrid        59.630702
2        Barcelona        57.241130
3  Atletico Madrid        47.475134
4         Valencia        44.557057
5  Athletic Bilbao        43.772629

### Question 6

In [18]:
import numpy as np
group = Laliga.groupby('BestPosition')
print('Sum of points for all positions')
group['Points'].agg([np.sum])

Sum of points for all positions

                sum
BestPosition
1             27933
2              6904
3              5221
4              6563
5              1884
6              2113
7              1186
8              1134
9                96
10              450
11              445
12              511
14               71
15               14
16               81
17              266
19               81
20               34